<%+header%>

<div class="static-page-content">
<h1><%:Help with Commotion%></h1>
	<p><%:Commotion is an evolving project that includes many parts. The documentation on our website has been created by the Commotion community to aid users and developers. It is often updated and we encourage you to get involved by contributing documentation. Listed below are links to the most relevant documentation to get started:%>
	<ul>
	<li><a href="https://commotionwireless.net/about/faq"><%:Frequently Asked Questions%></a></li>
    	<li><a href="https://commotionwireless.net/docs"><%:Documentation%></a></li>
    	<li>The <a href="https://commotionwireless.net/docs/cck"><%:Commotion Construction Kit%></a>, <%:a set of modular guides with tips on community organizing, site preparation, software installation and more.%></li>
    	<li><a href="https://commotionwireless.net/contact"><%:Contact the Commotion Wireless team%></a></li>
    	<li><a href="https://commotionwireless.net/report"><%:Report a Bug%></a></li>
	</ul>
</p>
<p><%:You can also connect with the Commotion community by subscribing to one or more of our listservs:%>
	<ul>
	<li><a href="https://lists.chambana.net/mailman/listinfo/commotion-announce">commotion-announce</a>: <%:only official announcements with minimal discussion.%></li>
    	<li><a href="https://lists.chambana.net/mailman/listinfo/commotion-discuss">commotion-discuss</a>: <%:for those who want to use Commotion without getting too technical.%></li>
    	<li><a href="https://lists.chambana.net/mailman/listinfo/commotion-dev">commotion-dev</a>: <%:for those who want to discuss improvements the Commotion software.%></li>
	</ul>
</p>
<p><%:You can also join us using your chat program on IRC in the #commotion channel on the irc.freenode.net server.%></p>

<p><a href="http://freenode.net/using_the_network.shtml"><%:Learn more about using IRC%></a>.</p>

</div>

<%+footer%>
