<%+header%>

<div class="static-page-content">
<h1><%:Commotion License%></h1>

<p><%:This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.%></p>

<p><%:This program is distributed in the hope that it will be useful,  but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.%></p>

<p><%:You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.%></p>

<p><%:The OpenWrt distribution upon which Commotion is built bundles a lot of third party applications and modules which are available under various other Open Source licenses or Public Domain. The sources for those packages can be found on the OpenWrt mirrot at: http://downloads.openwrt.org/sources/ . Please refer to these source packages to find out which license applies to them.%></p>

</div>

<%+footer%>
