/* a holding pen for all of the error/alert/sucess classes and IDs from cascade.css */


/* buttons, styles likely from Flat UI and heavily modified */
/* ln 617 */
.btn.danger, .alert.danger, .btn.danger:hover, .alert.danger:hover, .btn.error, .alert.error, .btn.error:hover, .alert.error:hover, .btn.success, .alert.success, .btn.success:hover, .alert.success:hover, .btn.info, .alert.info, .btn.info:hover, .alert.info:hover {
  color: #FFFFFF;
}

/*
#danger, #alert, #error, #success, #info

#alerts, #errorbox, 

#notice, #cbi-value-error
*/

.btn .close, .alert .close {
  font-family: Arial,sans-serif;
  line-height: 1.2em;
}
.btn.danger, .alert.danger, .btn.error, .alert.error {
  background-color: #C43C35;
  background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
  background-image: -webkit-linear-gradient(center top , #EE5F5B, #C43C35);
  background-image: -ms-linear-gradient(center top , #EE5F5B, #C43C35);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert.success {
  background-color: #57A957;
  background-image: -moz-linear-gradient(center top , #62C462, #57A957);
  background-image: -webkit-linear-gradient(center top , #62C462, #57A957);
  background-image: -ms-linear-gradient(center top , #62C462, #57A957);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert.info {
  background-color: #339BB9;
  background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
  background-image: -webkit-linear-gradient(center top , #5BC0DE, #339BB9);
  background-image: -ms-linear-gradient(center top , #5BC0DE, #339BB9);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


/* ln 727 - error 1 - check for ui color fail */
.alerts, .errorbox {
  background: #FFFFFF url('warning_icon.png') no-repeat left center;
  background-size: 40px 40px;
  color: #000000;
  font-weight: bold;
  padding: 3em;
  position: relative;
  max-width: 100%;
  border-color: #C43C35;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 1.5em;
  margin: 0 auto;
}

.alert .close {
  margin-top: 1px;
}
.alert a {
  color: #C43C35;
  font-weight: bold;
}
.alert.danger p a, .alert.error p a, .alert.success p a, .alert.info p a {
  color: #FFFFFF;
}
.alert h5 {
  line-height: 18px;
}
.alert p {
  margin-bottom: 0;
}
.alert div {
  line-height: 28px;
  margin-bottom: 2px;
  margin-top: 5px;
}
.alert .btn {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* end error/alert 1 */


/* ln 955 */

.notice {
  background: none repeat scroll 0 0 #FFBDD3;
  border: 2px solid #FF6699;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 0;
  padding: 5px;
}

.error {
  background: #FFFFFF url('warning_icon.png') no-repeat left center;
  background-size: 40px 40px;
  padding-left: 10px;
  color: #000000;
  font-weight: bold;
  padding: 2.5em;
  position: relative;
  max-width: 100%;
  border-color: #C43C35;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 1.5em;
  margin: 0 auto;                                        
}

.cbi-value-error {
  background: #FFFFFF url('warning_icon.png') no-repeat left center;
  background-size: 40px 40px;
  color: #000000;
  font-weight: bold;
  padding: 2.5em;
  position: relative;
  max-width: 100%;
  border-color: #C43C35;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 1.5em;
  margin: 0 auto;                                        
}
