<%+header%>

<%+commotion-splash/splashtext%>

<form method="get" action="<%=controller%>/splash/activate">

<div>

<% require "luci.model.ipkg"
if luci.model.ipkg.installed("luci-commotion-apps") then   %>
<div id="local">
  <input type="image" src="<%=media%>/apps.128.png" alt="<%:Local Applications%>" value="<%:Local Applications%>" name="apps" />
</div>

<% end %>


<div id="internet">
  <input type="image" src="<%=media%>/internet.128.png" alt="<%:Internet%>" value="<%:Internet%>" name="internet" />
</div>

</div>

<%+footer%>
