<%#
    Notify user of unsaved changes. Called by top-branding.htm
-%>

            <div class="messages">
                <% if ucichanges and ucichanges > 0 then %>
                    <a class="label notice" href="<%=controller%>/<%=category%>/uci/changes"><%:Unsaved Changes%>: <%=ucichanges%></a>
                <% end %>
                <!-- extraneous end? Commenting out -->
                <%# end -%>
                <span id="xhr_poll_status" style="display:none" onclick="XHR.running() ? XHR.halt() : XHR.run()">
                    <span class="label success" id="xhr_poll_status_on"><%:Auto Refresh%> <%:on%></span>
                    <span class="label" id="xhr_poll_status_off" style="display:none"><%:Auto Refresh%> <%:off%></span>
                </span>
            </div>