<nav id=sidebar-nav>
  <a href="#" id="menu-icon"></a>
   <div class="sb-container">
	 <%-
local util = require "luci.util"
local http = require "luci.http"
local disp = require "luci.dispatcher"

local function submenu(prefix, node)
   local childs = disp.node_childs(node)
   if #childs > 0 then
	  for i, r in ipairs(childs) do
		 local nnode = node.nodes[r]
		 local href  = controller .. prefix .. r ..
			(nnode.query and http.build_querystring(nnode.query) or "")%>
<li>
  <a href="<%=util.pcdata(href)%>"><%=util.pcdata(striptags(translate(nnode.title)))%></a>
</li>
<%-
	  end
   end
end

childs = disp.node_childs(cattree)

if #childs > 0 and category == "admin" then
   for i, r in ipairs(childs) do
      local nnode = cattree.nodes[r]
			if nnode.title ~= "Commotion" then
	  local href  = controller .. "/" .. category .. "/" .. r ..
		 (nnode.query and http.build_querystring(nnode.query) or "")
	  local grandchildren = disp.node_childs(nnode)
	  if #grandchildren > 0 then%>
      <div>
      <%if nnode._menu_selected == true then%>
	  <div class="sb-btn" id="selected">
	  <%else%>
	  <div class="sb-btn">
	  <%end%>
	  <h3><a href="<%=util.pcdata(href)%>"><%=util.pcdata(striptags(translate(nnode.title)))%></a>
	  </h3>
	  </div>
	  <%-
		 if nnode._menu_selected == true then
		-%><ul class="submenu"><%-
		 submenu("/" .. category .. "/" .. r .. "/", nnode)
		 end
		-%></ul><%-
	  -%>
	 </div>
		 <% else %>
		 <div>
		   <%if nnode._menu_selected == true then%>
		   <div class="sb-btn" id="selected">
			 <%else%>
			 <div class="sb-btn">
			   <%end%>
			  <h3><a href="<%=util.pcdata(href)%>"><%=util.pcdata(striptags(translate(nnode.title)))%></a>
		   </h3>
		 </div><%-
			end
		end
   end%>
				  <div class="sb-btn">
   <h3>
	 <a href="<%=controller%>/admin/commotion/basic"><%:Basic Menu%></a>
   </h3>
   </div>
   </div>
		 </div>
	  </div>
	  <div class="body-content">
		<%else%>
		</div>
	  	  </nav>
   <div class="login">

<%end%>
