<div class="sb-container">
    <div class="">
      <%-
		 local util = require "luci.util"
		 local http = require "luci.http"
		 local disp = require "luci.dispatcher"
		 
         local function submenu(prefix, node)
         local childs = disp.node_childs(node)
         if #childs > 0 then
      %>
      <!--<div class="">-->
        <%-
           for i, r in ipairs(childs) do
           local nnode = node.nodes[r]
           local href  = controller .. prefix .. r ..
           (nnode.query and http.build_querystring(nnode.query) or "")
           %>
        <li class="sbmenutitle">
          <a href="<%=util.pcdata(href)%>"><%=util.pcdata(striptags(translate(nnode.title)))%></a>
        </li>
        <%-
           end
           %>
      <!-- </div> -->
      <%-
         end
         end
		 
         childs = disp.node_childs(cattree)
		 
         if #childs > 0 then
      for i, r in ipairs(childs) do
      local nnode = cattree.nodes[r]
      local href  = controller .. "/" .. category .. "/" .. r ..
      (nnode.query and http.build_querystring(k.query) or "") --Where is k defined? 
      local grandchildren = disp.node_childs(nnode)
	  --Logic for choosing main menu to use for commotion will go here
      if #grandchildren > 0 then
      %>
	  <div>
		<h3 class="sb-btn">
          <a href="<%=util.pcdata(href)%>"><%=util.pcdata(striptags(translate(nnode.title)))%></a></h3>
		  <%#Logic for choosing deeper submenu for commotion will go here%>
		  <ul>
        <%- submenu("/" .. category .. "/" .. r .. "/", nnode) %>
		</ul>
	 </div>
      <% else %>
	<ul class="submenu">
      <li>
        <a href="<%=util.pcdata(href)%>"><%=util.pcdata(striptags(translate(nnode.title)))%></a>
      </li>
	</ul>
      <%
         end
         end
         end
         %>
<!-- end of "sb-container" is in header.htm, to allow inclusion of Advanced menu button -->
