

h6, pre, acronym, del, q, s, strike, sub, sup, tt, dd, dl, dt,  ol, caption, tfoot {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 5px 0;
  padding: 0;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}
a:active {
  outline: 0 none;
}
article, aside, details, figcaption, figure, footer, header, topbar, hgroup, nav, section {
  display: block;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

header nav ul,
header .brand {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}
header topbar ul:after,
header nav ul:after,
header:before, header:after,
footer:before, footer:after,
section:before, section:after {
  content: "";
  display: table;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #404040;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

dl dt, dl dd {
  line-height: 18px;
}

form .clearfix{
  margin-bottom: 18px;
  overflow: hidden;
}
form .clearfix:before, form .clearfix:after, form .cbi-value:before, form .cbi-value:after {
  content: "";
  display: table;
}

.uneditable-input {
  border: 1px solid #CCCCCC;
  color: #808080;
  display: inline-block;
  font-size: 17px;
  height: 18px;
  line-height: 18px;
  padding: 0.5em 0.5em;
  margin: 10px 0 5px 0;
  width: 97%;
}

form .clearfix.error > label, form .clearfix.error .help-block, form .clearfix.error .help-inline {
  color: #B94A48;
}
form .clearfix.error input, form .clearfix.error textarea {
  border-color: #EE5F5B;
  color: #B94A48;
}

form .clearfix.error .input-prepend .add-on, form .clearfix.error .input-append .add-on {
  background-color: #FCE6E6;
  border-color: #B94A48;
  color: #B94A48;
}
form .clearfix.warning > label, form .clearfix.warning .help-block, form .clearfix.warning .help-inline {
  color: #C09853;
}
form .clearfix.warning input, form .clearfix.warning textarea {
  border-color: #CCAE64;
  color: #C09853;
}

form .clearfix.warning .input-prepend .add-on, form .clearfix.warning .input-append .add-on {
  background-color: #D2B877;
  border-color: #C09853;
  color: #C09853;
}
form .clearfix.success > label, form .clearfix.success .help-block, form .clearfix.success .help-inline {
  color: #468847;
}
form .clearfix.success input, form .clearfix.success textarea {
  border-color: #57A957;
  color: #468847;
}

form .clearfix.success .input-prepend .add-on, form .clearfix.success .input-append .add-on {
  background-color: #BCDDBC;
  border-color: #468847;
  color: #468847;
}

.actions {
  background: none repeat scroll 0 0 #F5F5F5;
  border-top: 1px solid #DDDDDD;
  margin-bottom: 18px;
  padding: 0.5em 0.5em 0.5em 1em;
  text-align: right;
}
.actions .secondary-action, .cbi-page-actions .secondary-action {
  float: right;
}
.actions .secondary-action a, .cbi-page-actions .secondary-action a {
  line-height: 30px;
}

.help-inline, .help-block {
  color: #BFBFBF;
  font-size: 13px;
  line-height: 18px;
}

header nav {
  background: black;
  display: block;
  margin: 0;
  padding-top:1.5em;
  list-style: none;
}

header nav > ul > li, {
  display: inline-block;
}
header topbar > ul a,
header nav > ul a {
  display: block;
  float: none;
  padding: 0;
  margin: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font: 1.5em Helvetica, Arial, sans-serif;
  color: #ffffff;
}

header topbar > ul .active > a,
header nav > ul .active > a{
  background-color: rgba(0, 0, 0, 0.5);
}
header topbar > ul.secondary-nav,
header nav > ul.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}


.tabs:before, .cbi-tabmenu:before, .tabs:after, .cbi-tabmenu:after {
  content: "";
  display: table;
}

.tabs .active > a, .cbi-tabmenu .active > a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD #DDDDDD white;
  border-style: solid;
  border-width: 3px;
  cursor: default;
  color: black;
}
.tabs .dropdown-menu, .cbi-tabmenu .dropdown-menu {
  border-width: 3px;
  top: 35px;
}
.tabs a.menu:after, .tabs .dropdown-toggle:after, .cbi-tabmenu a.menu:after, .cbi-tabmenu .dropdown-toggle:after {
  border-top-color: #999999;
  margin-left: 5px;
  margin-top: 15px;
}
.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle, .cbi-tabmenu li.open.menu .menu, .cbi-tabmenu .open.dropdown .dropdown-toggle {
  border-color: #999999;
}
.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after, .cbi-tabmenu li.open a.menu:after, .cbi-tabmenu .dropdown.open .dropdown-toggle:after {
  border-top-color: #555555;
}
.tab-content > .tab-pane, .tab-content > div {
  display: none;
}

footer a:visited {
  color: black;
}
footer a:active, footer a:hover {
  color: black;
  text-decoration: underline;
}


.btn.danger, .alert.danger, .btn.error, .alert.error, .btn.success, .alert.success, .btn.info, .alert.info {
  color: #FFFFFF;
}
.btn .close, .alert .close {
  font-family: Arial,sans-serif;
  line-height: 1.2em;
}

.btn {
}
.btn.active, .btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.basic_menu .cbi-page-actions .cbi-button-apply, .basic_menu .cbi-page-actions .cbi-fake-finish, .basic_menu .cbi-page-actions  .cbi-button-finish {
	background: transparent url('approve_app_button.png') no-repeat top center;
	background-size: 48px 48px;
}
.basic_menu .cbi-page-actions .inline .cbi-button-reset {
	background: transparent url('commotion_delete_icon.png') no-repeat top center;	
	background-size: 48px 48px;
}
.basic_menu .cbi-page-actions  .cbi-button-next, .basic_menu .cbi-page-actions .cbi-button-skip {
	background: transparent url('right_arrow_button.png') no-repeat top center;
	background-size: 48px 48px;
}
.basic_menu .cbi-page-actions .cbi-button-back, .basic_menu .cbi-page-actions .cbi-button-make-changes {
	background: transparent url('left_arrow_button.png') no-repeat top center;
	background-size: 48px 48px;
}

.Startup .cbi-section-table input.cbi-input-apply, .Startup .cbi-section-table input.cbi-button-apply {
  background-image: url('./resources/cbi/apply.gif');
  background-position: 7px 4px;
}


.Processes .cbi-section-table input.cbi-input-reload, .Startup .cbi-section-table input.cbi-input-reload {
  background-image: url('./resources/cbi/reload.gif');
  background-position: 7px 4px;
}
.Processes .cbi-section-table input.cbi-input-remove, .Processes .cbi-section-table div.cbi-section-remove input, .Startup .cbi-section-table input.cbi-input-remove, .Startup .cbi-section-table div.cbi-section-remove input {
  background-image: url('./resources/cbi/remove.gif');
  background-position: 7px 4px;
}
.Processes .cbi-section-table input.cbi-input-reset, .Processes .cbi-section-table input.cbi-button-reset, .Startup .cbi-section-table input.cbi-input-reset, .Startup .cbi-section-table input.cbi-button-reset {
  background-image: url('./resources/cbi/reset.gif');
  background-position: 7px 4px;
}
.Startup .cbi-section-table input.cbi-input-save, .Startup .cbi-section-table input.cbi-button-save {
  background-image: url('./resources/cbi/save.gif');
  background-position: 7px 4px;
}
:root .alert, *:root .btn {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}


#memtotal > div, #memfree > div, #memcache > div, #membuff > div, #conns > div {
  border: 1px solid #CCCCCC;
  color: #808080;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25em;
}
.cbi-value-field table td {
  border: medium none;
}

div.cbi-value var, td.cbi-value-field var {
  color: #0069D6;
  font-style: italic;
}
.uci-change-list ins, .uci-change-legend-label ins {
  background-color: #CCFFCC;
  border: 1px solid #00FF00;
  display: block;
  padding: 2px;
  text-decoration: none;
}
.uci-change-list del, .uci-change-legend-label del {
  background-color: #FFCCCC;
  border: 1px solid #FF0000;
  display: block;
  font-style: normal;
  padding: 2px;
  text-decoration: none;
}
.uci-change-list var, .uci-change-legend-label var {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: block;
  font-style: normal;
  padding: 2px;
  text-decoration: none;
}
.uci-change-list var ins, .uci-change-list var del {
  border: medium none;
  font-style: normal;
  padding: 0;
  white-space: pre;
}
.uci-change-legend-label > ins, .uci-change-legend-label > del, .uci-change-legend-label > var {
  display: block;
  float: left;
  height: 10px;
  margin-right: 4px;
  width: 10px;
}
.uci-change-legend-label var ins, .uci-change-legend-label var del {
  border: medium none;
  line-height: 6px;
}