.sb-container {
	width: 25%;
	margin:10px 10px 10px 10px;
	overflow:hidden;
	float:left;
	background:#ffffff;
}

.body-content {
	margin:10px auto auto 30%;
	overflow: auto;
}

.login {
	margin:10px 10% auto 10%;
}


.sb-btn {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	margin:0 auto;
	padding:5px 5px;
	cursor:pointer;
	border-bottom:5px solid #ffffff;
	border-right:5px solid #ffffff;
	border-left:5px solid #ffffff;
	background:#00ffcf;
}

#selected {
	background: #877AED;
}

.sb-btn h3 {
	color:#000000;
	font-weight: bold;
	text-align: center;
}

.submenutitle a {
	font: 16px 'Helvetica', 'Arial', sans-serif;
	color: #877AED;
	font-weight: bold;
}

.submenu li {
	font: 16px 'Helvetica', 'Arial', san-serif;
	color: #877AED;
	font-weight: bold;
}

